*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
}

h1,h2,h3,h4,h5,h6{
	font-family: "-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
}
button{
	outline: none;
    border: none;
    text-align: center;
    -webkit-tap-highlight-color:transparent;
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.content::-webkit-scrollbar
{
    width: 0;
    height: 0;
    background-color: #F5F5F5;
}

html,body{
    height: 100%;
    width: 100%;
}
